/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-meduim-light;
  color: $gray-light;
      a {
          color: $gray;
          &:hover{
              color: $gray-daker;
          }
      }
      small{
          float: left;
      }
      ul{
          float: right;
          list-style: none;
              li{
                  float: left;
                  margin-left: 15px;
              }
      }
}
